@model ProyectoHospital.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<style>


    h1, h4 {
        color: black;
    }

    form {
        color: black;
    }
</style>

<h1>Editar Usuario</h1>


<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroAfiliado" class="control-label"></label>
                <input asp-for="NroAfiliado" class="form-control" />
                <span asp-validation-for="NroAfiliado" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
