@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital Argentino</h1>
    <img src="https://www.saludiario.com/wp-content/uploads/2017/03/Doctoralia_medicos_felices_mexico_espa%C3%B1a_pacientes.jpg"  alt="Foto de medicos">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <div class="header__menu">
        <div class="header__menu--profile">
            <img src="./icons8-usuario-masculino-30.png" alt="User">
            <p>Perfil</p>
        </div>
        <ul>
            <li><a href="/">Cuenta</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </div>
</div>