@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="Iam">

        <p>Grupo 4</p>
        <b>
            <div class="innerIam">
                Del Bueno , Santiago<br />
                Basteiro , Ivo Osmar<br />
            </div>
        </b>

    </div>
</body>